---
import Layout from "../layouts/Page.astro";
import Footer from "../components/Footer.astro";
import { getEntry } from "astro:content";

const about = await getEntry("pages", "about");
const { Content } = await about.render();
---

<Layout>
	<div class="text-center flex flex-col">
		<img
			src={about.data.bannerImage}
			alt={about.data.bannerImageAlt}
			class="max-h-min pt-2 pe-2"
		/>

		<div class="flex max-lg:flex-col">
			<img
				src={about.data.featuredImage}
				alt={about.data.featuredImageAlt}
				class="object-scale-down object-top max-md:hidden max-lg:pe-2 lg:max-w-md"
			/>
			<div class="p-4 px-24">
				<div class="md:text-4xl max-md:text-3xl text-neutral underline p-8">
					{about.data.intro}
				</div>
				<Content />
			</div>
		</div>
	</div>
	<Footer />
</Layout>
