---
import HeaderLink from "./HeaderLink.astro";
import { Image } from "astro:assets";
import Logo from "../assets/1022-logo.png";
import FBIcon from "../assets/facebook.svg";
import IGIcon from "../assets/instagram.svg";
import TTIcon from "../assets/tiktok.svg";
---

<header>
	<nav class="text-center p-4 w-60 max-md:w-screen">
		<div class="max-md:flex max-md:justify-between items-center">
			<Image
				class="mx-auto max-md:mx-0 max-md:w-28"
				src={Logo}
				alt="1022 Gelato Logo"
			/>
			<label class="btn btn-square swap swap-rotate md:hidden">
				<!-- this hidden checkbox controls the state -->
				<input type="checkbox" id="mobile-menu-toggle" />

				<!-- hamburger icon -->
				<svg
					class="swap-off fill-current"
					xmlns="http://www.w3.org/2000/svg"
					width="32"
					height="32"
					viewBox="0 0 512 512"
					><path
						d="M64,384H448V341.33H64Zm0-106.67H448V234.67H64ZM64,128v42.67H448V128Z"
					></path></svg
				>
				<!-- close icon -->
				<svg
					class="swap-on fill-current"
					xmlns="http://www.w3.org/2000/svg"
					width="32"
					height="32"
					viewBox="0 0 512 512"
					><polygon
						points="400 145.49 366.51 112 256 222.51 145.49 112 112 145.49 222.51 256 112 366.51 145.49 400 256 289.49 366.51 400 400 366.51 289.49 256 400 145.49"
					></polygon></svg
				>
			</label>
		</div>
	</nav>

	<div id="desktop-menu" class="max-md:hidden">
		<div class="flex flex-col site-nav gap-2 mt-8 mb-10">
			<HeaderLink href="/">Home</HeaderLink>
			<div class="divider w-32 mx-auto my-0"></div>
			<HeaderLink href="/menu">Menu</HeaderLink>
			<div class="divider w-32 mx-auto my-0"></div>
			<HeaderLink href="/about">About Us</HeaderLink>
			<div class="divider w-32 mx-auto my-0"></div>
			<HeaderLink href="/location">Hours & Location</HeaderLink>
			<div class="divider w-32 mx-auto my-0"></div>
			<HeaderLink href="/feed">Photos</HeaderLink>
		</div>
		<div class="flex justify-center gap-2">
			<a href="https://facebook.com/1022gelato" target="_blank" rel="noreferrer"
				><Image
					src={FBIcon}
					alt="facebook"
					width={30}
					height={30}
					class="filter-color-primary"
				/></a
			>
			<a
				href="https://instagram.com/1022gelato/"
				target="_blank"
				rel="noreferrer"
				><Image
					src={IGIcon}
					alt="Instagram"
					width={30}
					height={30}
					class="filter-color-primary"
				/></a
			>
			<a href="https://tiktok.com/@1022gelato" target="_blank" rel="noreferrer"
				><Image
					src={TTIcon}
					alt="Tiktok"
					width={30}
					height={30}
					class="filter-color-primary"
				/></a
			>
		</div>
	</div>
	<div
		id="mobile-menu"
		class="md:hidden hidden w-screen h-screen mb-4 p-4 fixed top-22 bg-neutral-content site-nav z-10"
	>
		<div class="flex flex-col mb-8 gap-1 text-center text-xl">
			<HeaderLink
				class="py-1 rounded hover:bg-[#2F5B73] hover:text-[#E7D1B9]"
				href="/"
			>
				Home
			</HeaderLink>
			<div class="divider divider-neutral w-60 mx-auto my-0"></div>
			<HeaderLink
				class="py-1 rounded hover:bg-[#2F5B73] hover:text-[#E7D1B9]"
				href="/menu"
			>
				Menu
			</HeaderLink>
			<div class="divider divider-neutral w-60 mx-auto my-0"></div>
			<HeaderLink
				class="py-1 rounded hover:bg-[#2F5B73] hover:text-[#E7D1B9]"
				href="/about"
			>
				About Us
			</HeaderLink>
			<div class="divider divider-neutral w-60 mx-auto my-0"></div>
			<HeaderLink
				class="py-1 rounded hover:bg-[#2F5B73] hover:text-[#E7D1B9]"
				href="/location"
			>
				Hours & Location
			</HeaderLink>
			<div class="divider divider-neutral w-60 mx-auto my-0"></div>
			<HeaderLink
				class="py-1 rounded hover:bg-[#2F5B73] hover:text-[#E7D1B9]"
				href="/feed"
			>
				Photos
			</HeaderLink>
		</div>
		<div class="flex justify-center gap-2">
			<a href="https://facebook.com/1022gelato" target="_blank" rel="noreferrer"
				><Image
					src={FBIcon}
					alt="facebook"
					class="filter-color-primary"
					width={30}
					height={30}
				/></a
			>
			<a
				href="https://instagram.com/1022gelato/"
				target="_blank"
				rel="noreferrer"
				><Image
					src={IGIcon}
					alt="Instagram"
					class="filter-color-primary"
					width={30}
					height={30}
				/></a
			>
			<a href="https://tiktok.com/@1022gelato" target="_blank" rel="noreferrer"
				><Image
					src={TTIcon}
					alt="Instagram"
					class="filter-color-primary"
					width={30}
					height={30}
				/></a
			>
		</div>
	</div>
</header>

<script is:inline>
	const toggle = document.querySelector("#mobile-menu-toggle");
	const menu = document.querySelector("#mobile-menu");

	toggle.addEventListener("change", () => {
		/* 		menu.classList.toggle("hidden");
		menu.classList.toggle("slidedown"); */
		if (toggle.checked === true) {
			//turn it all on
			//menu.classList.remove("hide");
			menu.classList.add("slide-down");

			menu.classList.remove("hidden");
			sessionStorage.setItem("mobile-menu", "open");
			//now disable scrolling on the main body
			document.body.style.position = "fixed";
		} else {
			menu.classList.remove("slide-down");
			//menu.classList.add("hide");
			menu.classList.add("hidden");
			sessionStorage.setItem("mobile-menu", "closed");
			//now enable scrolling on the main body
			document.body.style.position = "";
		}
	});
</script>

<style>
	.site-nav {
		font-family: "Playfair Display";
		font-size: 1rem;
		text-transform: uppercase;
		letter-spacing: 1px;
		text-align: center;
	}
	.slide-down {
		animation: slidedown 400ms ease-in-out normal;
		transform-origin: top center;
	}

	@keyframes slidedown {
		0% {
			transform: scaleY(0);
		}
		/* 		80% {
			transform: scaleY(1.1);
		} */
		100% {
			transform: scaleY(1);
		}
	}

	.filter-color-primary:hover {
		filter: invert(32%) sepia(45%) saturate(564%) hue-rotate(157deg)
			brightness(87%) contrast(87%);
	}

	.filter-color-secondary:hover {
		filter: invert(96%) sepia(10%) saturate(1132%) hue-rotate(316deg)
			brightness(94%) contrast(93%);
	}
</style>
